
body { font-family: Arial, sans-serif; margin: 0; line-height: 1.6; }
nav { margin-top: -0.5cm; background-color: #333; padding: 1rem; height: 25px; display: flex; align-items: center; padding-left: 300px; }
nav a { margin-right: 20px; text-decoration: none; color: white; font-weight: bold;font-size: 16px; }
main { padding: 2rem; max-width: 1000px; margin: auto; }
h1, h2 { color: #2c3e50; }
.illustratie {
  max-width: 800px;
  width: 200%;
  height: auto;
}
.illustratie2 {
  max-width: 400px;
  width: 100%;
  height: auto;
}
.illustratie3 {
  max-width: 600px;
  width: 100%;
  height: auto;
margin-left:1.5cm;
}
}
.illustratie4 {
  max-width: 400px;
  width: 80%;
  height: auto;
  margin-left:1.5cm;
}

<style>
  html, body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   font-family: Arial, sans-serif;
    }
 
  header {
    background-color:#f2f2f2;
    padding: 10px;
    text-align: center;
    font-family: "Verdana", "Geneva", sans-serif;  /* strak, leesbaar */
    font-size: 16px; /* iets kleiner */
    }

    nav a:hover {
      text-decoration: underline;
    }

.background {
      position: absolute;          
      top: 80px;
      left: 0;
      width: 100%;
      min-height: 100%;
      background-image: url("PRENTJES/floral-background-6622475_1280.webp");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      z-index: -1;
      /*padding: 40px;*/    
      /*box-sizing: border-box;*/
    }

main {
   position: relative;
   padding: 40px;
   box-sizing: border-box;
}

</style>